.ProductsView {
  margin: auto;
  width: 40em;
  

  display: grid;
  grid-template-columns: 20em 20em;
  justify-items: center;
}

.ProductThumbnail {
  grid-column-start: auto;

  border: 0;
  margin: 0;
  padding: 0;
  width: 18em;
  height: 30em;


  display: grid;
  grid-template-rows: 80% 5% 15%;
  align-items: center;
  justify-items: center;

}

.Link {
  grid-row-start: 1;
  grid-row-end: 1;

  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.Img {
  width: 100%;
  object-fit: fill;
}


.Name {
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: end;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.Price {
  grid-row-start: 3;
  grid-row-end: 3;
  align-self: start;


  margin: 0;
  color: black;
  opacity: 1.1;
  font-size: 0.9em;
  font-family: 'Courier New', Courier, monospace;
}