@use "../styles/theme";

.Orders {
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.Order {
  box-shadow: theme.$elevation1;
  margin: 2em;
  max-width: 500px;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
}

.OrderDetail {
  display: flex;
  flex-wrap: wrap;
}

.customerDetail {
  flex: 1 1;
}

.orderDetailPrice {
  flex: 1 1;
}

.orderDetailText {
}

.OrderedItems {
  display: flex;
  flex-flow: row wrap;
  margin: 1em;
}

.Item {
  margin: 1em;
  padding: 1em;
  width: 10em;
  border: 1px black dashed;
}

.ItemName,
.ItemQuantity,
.ItemPrice,
.Sugar,
.Ice,
.Tapioca,
.Pudding,
.Grassjelly {
  margin: 0;
}
